<header>
    <section>
    <a href="/">
        <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
        <h1 class="animate-charcter"> Mobile Hour</h1>
    </div></div></div>
    </a>
    <span> We are the professionals</span>
</section>
<section class="nav-bar">
    <a href="/product_list">Home</a>
    <a href="/contactus">Contact Us</a>
</section>
</header>