<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>Mobile Hour - Contact Us</title>
  </head>
  <body>
    <main>
      <%- include("partials/header.ejs") %>
      <section class="page-content contactus">
        <h3>
          Please contact us if you have any questions about our products or your
          orders
        </h3>
        <section>
          <p><b>TEL: </b>04123 56789 </p>
          <p><b>Email: </b>contactus@mobilehour.com </p> 
        </section>
      </section>
      <%- include("partials/footer.ejs") %>
    </main>
  </body>
</html>
